// Add in MainWindow class members:
QCheckBox* m_chkIgnoreTransferCheckForMvTs = nullptr;

// If you expose designer widgets instead, add a checkbox with object name like:
// checkBox_ignoreTransferCheckForMvTs
